.slider-block {
    height: calc(var(--index) * 30);
    width: 100%;
    padding-top: calc(var(--index) * 8);
    padding-left: calc(var(--index) * 10);
    padding-right: calc(var(--index) * 10);
    background: url('./../img/slider-block/BG.png');
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: #2CE8C2;

    @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;
        }
}

.slider-block__title {
    width: calc(var(--index) * 15);
    height: calc(var(--index) * 15);
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.slider-block button {
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 1.7);
    background: rgba(46, 236, 197, 0.15);
    filter: drop-shadow(0px 0px 62px rgba(46, 236, 197, 0.15));
    border: 1px solid #2CE8C2;
    color: #FFF;
    font-size: calc(var(--index) * .6);
    font-weight: 400;
    border-radius: 49px;
    align-items: center;
}

.slider-block button a {
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
}

.slider-block__portfolio {
    position: absolute;
    left: 6px;
    top: 6px;
}